<div id="<%= dom_id component %>">
  <p>
    <strong>Name:</strong>
    <%= component.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= component.kind %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= component.port %>
  </p>

  <p>
    <strong>Min value:</strong>
    <%= component.min_value %>
  </p>

  <p>
    <strong>Max value:</strong>
    <%= component.max_value %>
  </p>

</div>
