<%= form_with(model: output) do |form| %>
  <% if output.errors.any? %>
    <div style="color: red">
      <ul>
        <% output.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.number_field :value, min: 0, max: 255 %>
  </div>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.select :kind, Output.kinds.keys.map { |kind| [kind.humanize, kind] } %>
  </div>

  <div>
    <%= form.label :component_id, style: "display: block" %>
    <%= form.select :component_id, available_components() %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
